<footer>
    <div class="nav">
        
    <a href="{{ site.baseurl }}/"><img src="" alt="HS"></a>
    {% assign menu = site.menus.header %}
    {% for item in menu %}
        <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title | lowercase }}</a>
    {% endfor %}

    {% assign menu = site.menus.quick %}
    {% for item in menu %}
        <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title | lowercase }}</a>
    {% endfor %}

    </div>
    <div class="notice"><p>{{ site.copyright }}</p></div>
</footer>